<!DOCTYPE html>
  <html lang="en">
    <%- include('./pages/header.ejs') %>
    
  <body>
    <%- include('./pages/navbar.ejs') %>

      <h1><%=error%></h1>

      <%- include('./pages/footer.ejs') %>
  </body>
  
  </html>